
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.3px;
    font-size: 1rem;
}

:root {
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --body-bg: rgb(241, 241, 241);
    --primary-bg: rgb(255, 255, 255);
    --border-color: rgb(255, 0, 119);
    --command-color: rgb(207, 207, 207);
    
    /* for scroll */
    --scrollBg: rgb(143, 143, 143);
    --scrollBgHover: rgb(113, 113, 113);
}

:root body.dark {
    --white: rgb(0, 0, 0);
    --black: rgb(255, 255, 255);
    --body-bg: rgb(29, 29, 29);
    --primary-bg: rgb(37, 37, 37);
    --border-color: rgb(217, 255, 0);
    --command-color: rgb(59, 59, 59);

    /* for scroll */
    --scrollBg: rgb(197, 197, 197);
    --scrollBgHover: rgb(211, 211, 211);
}

/* custom scroll start */
/* width */
::-webkit-scrollbar
{
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track
{
    background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb
{
    background: var(--scrollBg);
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
    background: var(--scrollBgHover);
}
/* custom scroll end */

body {
    background: var(--body-bg);
    color: var(--black);
    position: relative;
}

/* for header */
.header-main-wrap {
    width: 100%;
    height: 100px;
    background: var(--primary-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wrap {
    width: 89%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* for heading */
.heading {
    text-align: center;
    text-transform: capitalize;
    position: relative;
    display: inline;
    font-size: 25px;
    padding: 9px 19px;
}

.heading::before {
    content: '';
    width: 0%;
    height: 3px;
    background: var(--border-color);
    position: absolute;
    bottom: 0;
    left: 0%;
    animation: headingBeforeAnimate 3s linear infinite alternate;
}

@keyframes headingBeforeAnimate {
    0% {
        width: 0%;
        left: 0%;
    }
    100% {
        width: 100%;
        left: 0%;
    }
}

.heading::after {
    content: '';
    width: 3px;
    height: 0%;
    background: var(--border-color);
    position: absolute;
    bottom: 0%;
    left: 0%;
    animation: headingAfterAnimate 3s linear infinite alternate;
}

@keyframes headingAfterAnimate {
    0% {
        bottom: 0%;
        height: 0%;
    }
    100% {
        bottom: 0%;
        height: 100%;
    }
}

/* for top and primary menu icon */
.menu-icon {
    width: 39px;
    height: 39px;
    background: var(--border-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.menu-icon-line,
.menu-icon-line::before,
.menu-icon-line::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background: var(--white);
    transition: .3s;
}

.menu-icon-line::before {
    top: 7px;
}

.menu-icon-line::after {
    top: -7px;
}

/* when menu icon class list added active */

.menu-icon.active .menu-icon-line {
    background: transparent;
}

.menu-icon.active .menu-icon-line::before {
    top: 0;
    transform: rotate(45deg);
}

.menu-icon.active .menu-icon-line::after {
    top: 0;
    transform: rotate(-45deg);
}

.heading-documentary {
    padding: 11px;
    margin-top: 3rem;
    margin-left: 3rem;
    background: var(--primary-bg);
    display: inline-block;
    text-transform: capitalize;
    border-left: 3px solid var(--border-color);
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.documentary-area {
    /* width: 85%; */
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 9px;
    background: var(--primary-bg);
    line-height: 2rem;
    border-left: 3px solid var(--border-color);
    border-bottom-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.uppercase-text {
    text-transform: uppercase;
}

.uppercase-text span {
    text-transform: lowercase;
}

.somePadding {
    display: inline-block;
    margin-left: 15px;
}

.sqlHead {
    text-transform: capitalize;
    font-size: 1.3rem;
    color: var(--border-color);
    user-select: none;
}

.sqlCommand {
    font-size: 1.1rem;
}

.sqlCommand span {
    font-size: 1rem;
    color: var(--command-color);
    user-select: none;
}

/* .sqlComment {
    margin-top: 0.5rem;
} */

/* for primary menu */
.primary-menu-wrapper {
    width: 100%;
    background: var(--primary-bg);
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
}

.primary-menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 9px;
}

.primary-menu-link {
    font-size: 1.3rem;
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    padding: 7px 19px;
    margin: 5px 0;
    position: relative;
}

.primary-menu-link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 50%;
    bottom: 0;
    background: var(--border-color);
    transition: .3s;
}

.primary-menu-link:hover::before {
    left: 0%;
    width: 100%;
}

